<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:name=".QueueApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:targetApi="31">
        <activity
            android:name=".EditUser"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="imp3"
                    android:host="spotify-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".SignupPage"
            android:exported="true" />
        <activity
            android:name=".FollowerView"
            android:exported="true" />
        <activity
            android:name=".MusicCatalogue"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumsPage"
            android:exported="true" />
        <activity
            android:name=".SongsPage"
            android:exported="true"/>
        <activity
            android:name=".ChatActivity"
            android:exported="true"/>
        <activity
            android:name=".ChatPage"
            android:exported="true"/>
        <activity
            android:name=".CustomListListPage"
            android:exported="true"/>
        <activity
            android:name=".CustomListPage"
        android:exported="true"/>
        <activity android:name=".ViewListPage" />
        <activity
            android:name=".NotificationsPage"
            android:exported="true" />
        <activity
            android:name=".ArtistPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DayTrackPage"
            android:exported="true">
        </activity>
        <activity
            android:name=".ReviewsPage"
            android:exported="true"/>
        <activity
            android:name=".AdminPage"
            android:exported="true"/>
        <activity
            android:name=".RecommendationsPage"
            android:exported="true"/>
        <activity
            android:name=".OtherUserProfile"
            android:exported="true"/>
    </application>

</manifest>